.swp
.cache
.classpath
.project
.history
.settings/
.springBeans
target/
.idea/
.metals/
*.iml
*.ipr
*.iws
doc/sirius.pdf
doc/sirius.aux
doc/sirius.log
atlassian-ide-plugin.xml
.clover/
.DS_Store
*~
.pydevproject
*.pyc
*.dvi
